/* admin goods 시작 */
th, .card-header {
    vertical-align: middle;
}

.file_name_span {
    background-color : rgb(230, 230, 230); 
    width :500px; 
    border-radius: 0.2rem; 
    padding: 0.3rem 0.75rem;
}

.admin_button {
    margin-right : 10px; 
    float : right;
}
/* admin goods 끝 */

/* admin review 시작*/
#star1, #star2, #star3, #star4, #star5 {
    color : rgb(248, 223, 0);
} 
/* admin review 끝*/