/*---------------------   goods create 부분 시작  -----------------------------*/
.goods_title {
    text-align: center;
    margin-bottom: 20px;
}
.goods_title:after {
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 0;
    height: 2px;
    width: 100px;
    background: rgb(212, 212, 212);
    content: "";
    margin: 0 auto;
}

.form_label {
    font-size: 1.2em;
    font-weight : bold;
    width : 20%;
}

#main_title {
    font-size: 23pt;
}

.table th, .table td {
    border-bottom: 0px;
    border-top: 0px;
    padding : 2rem;
}

.colored {
    background-color : rgb(248, 248, 248);
}

.content{
    cursor: pointer;
    display : inline-block;
    outline: 2px dashed #ffffff;
    outline-offset:-20px;
    text-align: center;
    transition: all .15s ease-in-out;
    width: 100%;
    height: 240px;
    background-color: #ffb341;
    line-height:250px;
    color : #fff;
    font-size: 14pt;
}

#title, #price, #number, #area, #content{
    height : 50px;
    width : 100%;
    border-radius: 0.3em;
    border : 1px solid rgb(214, 214, 214);
    padding-left : 15px;
}


#area {
    background :rgb(241, 241, 241);
    margin-bottom: 15px;
}
#price {
    width : 40%;
}
#number {
    width : 30%;
}
#tag_area {
    margin-bottom: 15px;
    width : 100%;
    border-radius: 0.3em;
    border : 1px solid rgb(214, 214, 214);
    padding-left : 15px;
    word-break: keep-all;
}


#title:focus, #price:focus, #number:focus, #tag:focus, #content:focus, #find_adress_text:focus {
    outline:5px solid rgb(177, 177, 177, 0.3);
    border : 1px solid rgb(180, 180, 180);
}

#content {
    padding : 15px;
    height: 200px
}

input[type="radio"], input[type="checkbox"] {
    height : 20px;
    width : 20px;
}

#preview{
    list-style:none;
}

#preview li {
    list-style-type: none;
    float : left; 
    margin-right : 10px;
    margin-top : 10px;
    positon :relative;
    z-index: 0;
    border : 2px solid rgb(230, 230, 230);
}

.close_btn {
    float: right;
    cursor: pointer;
    display : inline-block;
    z-index: 1;
    font-weight: bold; 
    position: absolute;
    margin-left: -30px;
    color : rgb(90, 90, 90);
    opacity: 60%;
}


.li_image {
    width : 220px;
    height : 220px;
    object-fit: cover;
}

input[name=image] {
    display: none;
}

.submit_btn {
    width : 200px;
    background : #FF9900;
    color : #fff;
    border-radius: 0.2em;
    border: none;
    height: 40px;
}

/* modal 시작*/
/* modal창 background */
.modal {
    display: none; /* 화면에서 숨김 */
    position: fixed; 
    z-index: 2; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; /* 화면에 modal이 꽉차게 */
    height: 100%; /* 화면에 modal이 꽉차게 */
    overflow: auto; /* 사진이 크면 scroll되게 */
    background-color: rgba(0,0,0,0.9); /* 뒷배경 색 */
}

/* modal창 이미지 */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* modal 밑에 file명 캡션 */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/*goods 상세보기 원본 이미지 modal caption*/
#origin_img_caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 70px 0;
    height: 150px;
}

/* modal창 열릴 때 애니메이션 */
.modal-content, #caption, #origin_img_caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
from {transform:scale(0)} 
to {transform:scale(1)}
}

.close_modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close_adress_modal {
    position: absolute;
    top: 0px;
    right: 20px;
    color: #484848;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close_modal:hover, 
.close_modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.close_adress_modal:hover, 
.close_adress_modal:focus {
    color: rgb(112, 112, 112);
    text-decoration: none;
    cursor: pointer;
}
/* 작은 화면에서는 이미지가 꽉차게 */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/* modal 끝 */

#category_select_area, #category_de_select_area, #category_de_de_select_area {
    float : left;
    margin-left : 0px;
    height: 302px;
    width: 252px;
}
.selected {
    color : #FF9900;
}
small ul li {
    list-style-type: none;
}
small {
    margin-top : 50px;
}
.error_message {
    margin-top : 5px!important;
    color : #dc3545;
}
.category_ul {
    list-style-type: none;
    border : 1px solid rgb(199, 199, 199);
    padding : 10px;
    width : 250px;
    /* margin-top : 10px; */
    background: #fff;
    height : 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.category_ul li button {
    width : 230px;
    border : none;
    padding : 8px 0px 6px 0px;
    background: #fff;
}
.category_ul li button:hover{
    background: rgb(230, 230, 230);
}
#all_btn, #adress_btn{
    padding : 8px;
    border : 1px solid rgb(224, 224, 224);
    border-radius: 0.2em;
    background-color : rgb(255, 255, 255);
    margin : 0px 10px 10px 0px;
    width : 120px;
}
#all_btn:hover, #adress_btn:hover{
    background-color : rgb(247, 247, 247);
}
#num_count {
    font-weight: 400;
    color :rgb(145, 145, 145);
}
.input_left {
    margin-left : 10px;
}
#tag_content {
    border-radius: 1.5em;
    background :rgb(231, 231, 231);
    padding : 3px;
    padding-left : 10px;
    margin-right: 10px;
}
#tag_icon {
    margin-top : 20px;
    margin-left : 10px;
    color : rgb(100, 100, 100, 0.6);
}
#tag_text {
    height : 35px;
    border : 1px solid #fff;
    padding-left:10px;
    margin: 10px;
    margin-left : -10px;
}
#adress_area {
    background : #fff;
    padding : 40px;
    display: inline-block;
    width : 450px;

    /* 화면 중앙에 오게 정렬 */
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#adress_title {
    color :rgb(90, 90, 90);
    font-size : 18pt;
}
#find_adress_text {
    height : 40px;
    width : 100%;
    border-radius: 0.3em;
    border : 1px solid rgb(214, 214, 214);
    padding-left : 15px;
    margin-top: 15px;
    position: relative;
}
#adress_result {
    height : 100px;
    width : 100%;
    margin-top: 30px;
    /* border: 1px solid rgb(214, 214, 214); */
    height: 250px;
    width: 100%;
    overflow: auto;
}
#adress_result span {
    display : inline-block;
    line-height:250px;
    color :rgb(156, 156, 156);
    margin-left: 145px;
}
.fa-search {
    cursor: pointer;
    position: absolute;
    margin-left : 235px;
    float :right;
    margin-top : 59px;
    z-index : 10;
}
#adress_result ul li{
    cursor: pointer;
    padding : 10px;
    padding-left : 20px;
}
#adress_result ul li:hover{
    background :rgb(240, 240, 240);
}
#create_form, #edit_form, #show_area {
    width : 90%; align : center;margin: 0 auto;
}
#form_title {
    font-weight: bold; 
    margin-left : 10px
}
.my_section {
    margin-top: -30px; padding-top : 25px;
}
#content_box {
    background :#ffd18b;
    height: 280px;
    text-align : center; 
    padding : 20px;
}
.top_line {
    border-top: 1.5px solid rgb(161, 161, 161) !important;
}
.requ {
    color : red;
}
.is-invalid {
    border: 1px solid rgb(241, 0, 0) !important;
}
#category_error_area {
    margin-top : 10px;
}
/*---------------------   goods create 부분 끝  -----------------------------*/


/*---------------------   goods show 부분 시작  -----------------------------*/
.product__details__tab .nav-tabs:before, .product__details__tab .nav-tabs:after {
    top : 55px;
    width: 213px;
    background : #000;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: #000 solid 1px;
    border-bottom  :none;
    background : #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover {
    border-bottom  :none;
}

.product__details__tab .nav-tabs li a:hover {
    border-bottom: #000 solid 1px;
}

.product__details__tab .nav-tabs li a {
    border: #dee2e6 solid 1px;
    padding: 15px 40px 15px 40px;
    width : 190px;
    text-align: center;
    border-bottom: #000 solid 1px;
    background : #f5f5f5;
}

.product__details__tab .nav-tabs li {
    margin-bottom: 0px;
    margin-right: 0px;
}

#comment_arrow::after {
    margin-top : -20px;
    position: absolute;
    left: 25px; 
    top: 10px;
    content: '';
    width: 30px; /* 사이즈 */
    height: 30px; /* 사이즈 */
    border-top: 3px solid rgb(196, 196, 196); /* 선 두께 */
    border-right: 3px solid rgb(196, 196, 196); /* 선 두께 */
    transform: rotate(180deg); 
}

#arrow-right {
    margin-left: 40px;
    margin-top: 8px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(196, 196, 196);/* 화살표 */
}

.margin-b {
    margin-bottom : 10px;
}

.com_btn {
    margin-top : 20px; 
    color : rgb(170, 170, 170);
}

.com_btn_span {
    margin-right : 15px; 
    cursor:pointer;
}

.fa-comment-o, .fa-trash-o {
    margin-right : 5px;
}

.img_box {
    width : 50px; 
    height : 50px;  
    border-radius: 70%;
    overflow: hidden;
}

.user_img_box {
    width : 100px; 
    height : 100px;  
    border-radius: 70%;
    overflow: hidden;
    display: inline-block;
}


.img_box img, .user_img_box img, .review_img_box img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.c_time {
    float : right; 
    color : rgb(170, 170, 170);
}

.com_a {
    margin-left : -11px;
}

#question, #question_comment {
    padding : 20px; 
    width : 98%; 
    border : 1px solid rgb(204, 204, 204); 
    resize: none;
}

.que_btn_area {
    margin-top : 45px; 
    margin-left : -30px;
}

#question_btn {
    background :#FF9900; 
    border : 1px solid #FF9900; 
    width : 80px;
    margin-top : 10px; 
    padding : 5px;
    border-radius: 5px;
    color : #fff;
}

.que, #q_comment, #store_f {
    margin-top : 20px;
}

#area_icon, #category_icon, #ttag_icon {
    margin-right : 10px;
}

.g_s_table td {
    padding : 5px;
}

.g_s_table_title {
    color : rgb(173, 173, 173);
}

#tag_td {
    word-wrap: break-word;
    color: #FF9900;
}

pre {
    font-size: 100%;
    font-family: sans-serif;
}

.user_goods_a, .more_a {
    color: inherit;
    text-decoration: none;
}
.user_goods_a:visited, .more_a:visited { color: inherit;text-decoration: none; }
.user_goods_a:hover, .more_a:hover { color: inherit;text-decoration: none; }
.user_goods_a:focus, .more_a:focus { color: inherit;text-decoration: none; }
.user_goods_a:active, .more_a:active { color: inherit;text-decoration: none; }

.review_img_box {
    width : 40px; 
    height : 40px;  
    border-radius: 70%;
    overflow: hidden;
}

.u_review_con {
    /* 한 줄 자르기 */ 
    display: inline-block; 
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 

    /* 여러 줄 자르기 추가 스타일 */ 
    white-space: normal; 
    line-height: 1.2; 
    height: 2.5em; 
    text-align: left; 
    word-wrap: break-word; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;

    font-size : 11pt; 
    margin-top : 5px; 
}

#star_num {
    color : rgb(53, 53, 53);
}

#star1, #star2, #star3, #star4, #star5 {
    color : rgb(255, 208, 0);
}


.product__details__text ul {
    padding-top: 20px;
    margin-top: 25px;
}

#heart-layer {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    width: 130px;
    height: 130px;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /*deco*/
    background: #ffbab9;
    border-radius: 70%;
    opacity: 0.9;
}
#heart-content {
    color : #fff;
    padding: 1.5rem;
    text-align : center;
}
#h_span {
    font-size: 1.5rem;
}
#heart_icon {
    margin-bottom : 3px
}

#heart-del-layer {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    width: 130px;
    height: 130px;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /*deco*/
    background: #c7c7c7;
    border-radius: 70%;
    opacity: 0.9;
}

.heart_btn_f {
    color : #FF9900; 
    background : #fff;
    border : 1px solid #FF9900; 
    width : 12%; 
}

.heart_btn_t {
    color : #fff; 
    background : #FF9900;
    border : 1px solid #FF9900; 
    width : 12%; 
}

#heart_btn {
    padding-left : 17px; 
    text-align : center;
}

#call_btn, #now_buy_btn {
    border : 1px solid #FF9900; 
    background : hsl(36, 100%, 90%); 
    color : #FF9900;
    width : 41%; 
    text-align : center;
}
#call_btn:hover, #now_buy_btn:hover {
    border : 1px solid #FF9900; 
    background : #FF9900; 
    color : #fff;
}

#follow_btn {
    width : 100%; 
    background : #fff;
    padding : 7px;
}
.follow_btn_f {
    border : 1px solid rgb(204, 204, 204); 
    color : #000;
}
.follow_btn_t {
    border : 1px solid #FF9900; 
    color : #FF9900;
}


#my_store_btn {
    border : 1px solid #FF9900;
    color : #fff;
    width : 100%; 
    background : #FF9900;
    padding : 7px;
}

#my_store_button {
    border : 1px solid #FF9900; 
    color : rgb(255, 255, 255);
    width : 100%; 
    background : #FF9900;
    padding : 10px;
    font-size : 15pt;
}

.rel_heart_t:hover {
    background : rgb(255, 163, 163) !important;
    border : 1px solid rgb(255, 163, 163) !important; 
    color : #fff !important;
}

#s_section {
    margin-top : -70px;
}

#big_img {
    width : 450px; 
    height : 483px;
    object-fit: cover;
    border : 1px solid rgb(236, 236, 236);
}

#small_img {
    width : 105px; 
    height : 105px;
    object-fit: cover; 
    border : 1px solid rgb(236, 236, 236);
}

#goods_cate {
    margin-bottom : 20px;
    color: #FF9900;
}

#goods_ti {
    font-weight : bold;
    margin-bottom : 0px;
}

#goods_pri_d {
    margin-bottom : 10px;
}

#goods_pri {
    font-size : 40pt;
    font-weight : bold; 
    margin-right : 10px
}

#goods_won {
    font-size : 25pt;
    font-weight : bold;
}

#goods_det_area {
    color :rgb(163, 163, 163);
}

#goods_det {
    margin-right : 20px;
}

#mar_t {
    margin-top : 6px;
}

#mar_b {
    margin-bottom : 40px;
}

#goods_info {
    border : 1px solid rgb(223, 223, 223); 
    margin : 10px 10px 10px 60px; 
    padding : 20px; 
    background :rgb(246, 246, 246);
    width : 100%
}

#store_info_u {
    border : 1px solid rgb(204, 204, 204); 
    padding : 20px; 
    text-align : center;
}

#v_bar {
    margin : 0px 10px 0px 10px;
}

#u_goods {
    padding : 20px 0px 0px 20px; 
    height : 290px;
}

#f_r {
    float : right;
}

#u_goods_a {
    width : 100%; 
    margin-bottom : 20px; 
    border : 1px solid rgb(194, 194, 194);
    height : 90px;
}

#u_goods_img_box {
    width : 90px; 
    margin-bottom : 10px;
    height : 90px; 
    float : left; 
    overflow: hidden;
}

#u_goods_img {
    object-fit: cover; 
    width: 100%; 
    height: 100%;
}

#u_goods_t_won {
    float : left; 
    padding : 10px; 
    margin-top : 5px; 
    height : 90px;
}

#u_goods_title {
    margin-bottom : 5px; 
    text-overflow: ellipsis; 
    width : 180px;
    white-space: nowrap; 
    overflow: hidden;
}

#p_none {
    font-size : 11pt; 
    text-align : center; 
    margin-top: 100px;
}

#hr_mar {
    margin : 0px;
}

#rev_r {
    height : 95px; 
    margin-top : 15px;
}

#rev_area {
    padding : 20px 0px 0px 20px;
}

#rev_store_name {
    text-overflow: ellipsis; 
    width : 150px; 
    white-space: nowrap; 
    overflow: hidden; 
    float : left;
}

#rev_star {
    font-size : 8pt;
}

#rel_goods_b_title {
    font-size : 20pt;
}

#origin_img_area {
    display : none;
    cursor : pointer;
    opacity : 0.8;
}

#origin {
    position:absolute;
    color : #fff; 
    padding: 3px 15px 3px 35px; 
    background : rgb(61, 61, 61);
    border-radius: 1em; 
    top: 440px; 
    right: 30px;
}

#origin_search_icon {
    position:absolute;
    top: 387px;
    right: 85px; 
    color:#fff;
}
/*---------------------   goods show 부분 끝  -----------------------------*/

/*---------------------   main 부분 시작  -----------------------------*/
#today_goods_title {
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

#today_goods_area {
    cursor: pointer;
}

#m_goods_title {
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
    width : 180px;
}

#m_goods_writeday {
    font-size: 9pt; 
    padding-left:30px; 
    color : rgb(158, 158, 158);
}

.lately_goods_writeday {
    font-size: 12px !important;
    color :rgb(170, 170, 170) !important;
    margin: -5px 0px 5px 0px;
}

.heart_high_goods_h {
    font-size: 12px !important;
    color :rgb(255, 149, 149) !important;
    margin: -5px 0px 5px 0px;
}

.m_goods_img {
    width : 110px !important; 
    height : 110px !important;
    object-fit: cover;
}

.star_high_goods_s {
    font-size: 12px !important;
    color :rgb(240, 204, 0) !important;
    margin: -5px 0px 5px 0px;
}
/*---------------------   main 부분 끝  -----------------------------*/



/*---------------------   goods.index 부분 시작  -----------------------------*/
.price-range-wrap .range-slider .price-input input {
    max-width: 35%;
}
.price-range-wrap .range-slider .price-input:after {
    width : 0px;
}
#find_area_text {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right : none;
    padding: 10px;
    width: 85%;
}

#find_goods_area_icon {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-left : none;
    position: inherit;
    background: #fff;
    margin-top: -46px;
    padding: 14px;
    color : #ababab;
}

#i_category_select_area, #i_category_de_select_area, #i_category_de_de_select_area {
    display : none;
    height: 302px;
    width: 181px;
    margin-top: 35px;
    z-index: 1;
    margin-left: -181px;
    float: left;
    position : absolute;
}

#i_category_select_area_top, #i_category_de_select_area_top, #i_category_de_de_select_area_top {
    float : left;
    margin-left : 0px;
    height: 50px;
    width: 200px;
}

.i_category_ul {
    list-style-type: none;
    border : 1px solid rgb(199, 199, 199);
    width : 181px;
    background: #fff;
    height : 300px;
    font-size : 11pt;
    overflow-y: auto;
    overflow-x: hidden;
}

.i_category_ul li button {
    width : 170px;
    border : none;
    background: #fff;
    text-align: left;
    padding : 6px 10px 6px 10px;
}

.i_category_ul li button:hover {
    background: rgb(230, 230, 230);
}

.i_category_pick, .i_category_de_pick, .i_category_de_de_pick {
    list-style-type: none;
    border : 1px solid rgb(199, 199, 199);
    padding : 5px;
    width : 181px;
    background: #fff;
    height : 36px;
    font-size : 11pt;
    float: left;
}

.i_category_pick button, .i_category_de_pick button, .i_category_de_de_pick button  {
    width : 170px;
    border : none;
    /* padding : 8px 0px 6px 10px; */
    background: #fff;
    text-align: left;
}

.i_category_pick .arrow, .i_category_de_pick .arrow, .i_category_de_de_pick .arrow{
    position: absolute;
    color : rgb(172, 172, 172);
    margin-left: 150px;
    margin-top: -19.5px;
}

.category_between {
    float : left;
    margin: 4px 20px 0px 20px;
}

.goods_state {
    width:16px;
    height:16px;
    accent-color : rgb(239, 98, 16);
}
.goods_sale_state {
    width:16px;
    height:16px;
    accent-color : rgb(239, 98, 16);
}

.pagination {
    justify-content : center;
}

.ca_selected {
    color : #FF9900;
}

.goods_image {
    height: 270px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.product__pagination .active {
    background: #7fad39;
    color : #fff;
}

.price-input, #minprice {
    text-align: center;
}

#maxprice {
    margin-left : 20px; 
    text-align : center;
}

.pdt {
    padding-top: 30px;
}

.product_pdt {
    padding-top: 0px;
}

#sear_area {
    font-size : 15pt; 
    margin-bottom: 30px;
}

#search_result {
    color : #FF9900;
}

#goods_count_box {
    color : rgb(170, 170, 170);
}

.i_goods_title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 130px;
}

.my_pagination {
    text-align: center;
}
/*---------------------   goods.index 부분 끝  -----------------------------*/


/* ---------- goods show modal 부분 시작 ------------- */
#pay_area {
    background : #fff;
    padding : 40px;
    display: inline-block;
    width : 450px;

    /* 화면 중앙에 오게 정렬 */
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#pay_title {
    color :rgb(90, 90, 90);
    font-size : 18pt;
}

.close_pay_modal {
    position: absolute;
    top: 0px;
    right: 20px;
    color: #484848;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_pay_modal:hover, 
.close_pay_modal:focus {
    color: rgb(112, 112, 112);
    text-decoration: none;
    cursor: pointer;
}

#pay_btn {
    background : #ffc7c7;
    border : solid 1px #ff9b9b;
    width : 200px;
    height : 50px;
    text-align : center;
}

#induk_pay_content {
    height : 300px; 
    overflow : scroll; 
    overflow-x : hidden
}

/* ---------- goods show modal 부분 끝 ------------- */


.section-title h2:after {
    background : #FF9900;
}
.product__item__pic__hover li:hover a {
    background : #FF9900;
    border-color : #FF9900;
}
.price-range-wrap .price-range .ui-slider-range.ui-corner-all.ui-widget-header:last-child {
    background : #FF9900;
}
.price-range-wrap .range-slider .price-input input {
    color : #FF9900;
}
.product__pagination .active {
    background : #FF9900;
    border-color : #FF9900;
}
.product__pagination a:hover {
    background : #FF9900;
    border-color : #FF9900;
}
.heart_btn_f:hover {
    color: #fff;
    background: #FF9900;
    border: 1px solid #FF9900;
}
#state1, #state2, #exchange1, #exchange2, #delivery_fee {
    accent-color : rgb(239, 98, 16);
}
.hero__text span {
    color: #FF9900;
}
#original_img {
    max-height : 600px; 
    object-fit: contain; 
    background : rgba(0,0,0,0); 
    border: rgba(0,0,0,0);
}